.sidebar {
  background: #508c9b;
  color: #dadada;
  /* overflow-y: auto; */
  scrollbar-color: rgba(0, 0, 0, 0.2) #508c9b;
  scrollbar-width: thin;

  /* margin: 10px; */
  /* border-radius: 8px; */
  box-shadow: 2px 2px 6px;
  /* height: 100vh; */
  /* font-size: 16px; */
}

.nav-link:hover {
  color: white; /* Change color on hover */
  transform: scale(1.05); /* Scale up on hover */
  transition: transform 0.6s ease; /* Transition for the scaling */
  text-transform: uppercase;
  
}

.sidebarimage {
  margin: 20px;
  max-width: 9em;
}

.hireMe-button {
  max-width: 175px;
}


.hireMe-button:hover{
  background-color: white;
  border: #dadada;
  color: black;
}
